@import "styles/base.scss";

.customslider {
    .text {
        font-size: 30px;
        font-weight: bold;
        color: #273c63;
        span {
            font-size: 15px;
            font-weight: normal;
        }
    }
    .slider {
        width: 70vw;
        padding-top: 100px;
        .slider-card {
            width: 400px;
            height: 200px;
        }
        img {
            width: 200px;
            height: 200px;
        }
    }
}
