@import "styles/base.scss";

.search {
    @include flex(row, center, center);
    select {
        margin-right: 10px;
        padding: 5px;
        height: 38px;
        box-sizing: border-box;
        border: none;
        border-radius: 3px;
    }
    .searchbar {
        @include flex(row, space-between, center);
        padding-left: 17px;
        padding-right: 10px;
        width: 500px;
        height: 45px;
        background: #ffffff;
        border-radius: 5px;
        box-sizing: border-box;
        input {
            border: none;
            font-size: 12px;
            &:focus {
                outline: none;
            }
        }
        button {
            img {
                width: 17px;
            }
        }
    }
}
