@import "styles/base.scss";

.custompopup {
  @include flex(column, space-around, center);
  width: "500px";
  height: "300px";
  .title {
    font-size: 25px;
    font-weight: bold;
    color: hsl(219, 43%, 27%);
    margin: 10px 0;
    span {
      font-size: 15px;
      font-weight: normal;
    }
  }
  .content {
    min-height: 190px;
    fontsize: "20px";
  }
  .hashtag {
    font-size: 25px;
    font-weight: bold;
    color: hsl(219, 43%, 27%);
    margin: 10px 0;
  }
}
