/* screen size */
$mobile-max: 767px;
$tablet-max: 1023px;

@mixin ellipsis($line-cnt, $line-height){
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-cnt;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
    line-height: $line-height;
    height: $line-height * $line-cnt;
}


@mixin flex($direction,$horizontal,$vertical){
    display:flex;
    flex-direction: $direction;
    justify-content: $horizontal;
    align-items: $vertical;
}