@import "styles/base.scss";

.customslider {
    .text {
        font-size: 30px;
        font-weight: bold;
        color: #273c63;
        span {
            font-size: 15px;
            font-weight: normal;
        }
    }
    .slider {
        width: 70vw;
        padding-top: 100px;
        .slider-card {
            width: 400px;
            height: 200px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: #273c63;
            .slider-title {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .slider-content {
                font-size: 15px;
            }
        }
        img {
            width: 200px;
            height: 200px;
        }
    }
}
