@import "styles/base.scss";

//pc, 기본
.header {
	.header-content {
		@include flex(row, center, center);
		padding-top: 40px;
		padding-left: 56px;
		padding-right: 30px;
		width: 100vw;
		height: 70px;
		box-sizing: border-box;
		color: #ffffff;
		position: fixed;
		top: 0;
		left: 0;
		.logo {
			width: 10%;
			color: black;
		}
		.list {
			@include flex(row, space-between, center);
			width: 30%;
			margin-right: 280px;
			a {
				color: #ffffff;
				text-decoration: none;
				&:hover {
					font-weight: bold;
					border-bottom: 1px solid #ffffff;
				}
			}
			&.dark {
				a {
					color: #273c63;
					text-decoration: none;
					&:hover {
						font-weight: bold;
						border-bottom: 1px solid #273c63;
					}
				}
			}
		}
		.button {
			@include flex(row, space-around, center);
			.mypage {
			}
			.login {
				color: #ffffff;
				margin-left: 5px;
				background: #d45382;
				width: 80px;
				height: 33px;
				border-radius: 3px;
				border: none;
			}
		}
	}
}

//태블릿
@media screen and (min-width: $mobile-max+1px) and (max-width: $tablet-max) {
	.header {
		position: fixed;
		.list {
			@include flex(row, center, center);
			width: 100%;
			margin-right: 280px;
			a {
				color: #ffffff;
				text-decoration: none;
				&:hover {
					font-weight: bold;
					border-bottom: 1px solid #ffffff;
				}
			}
		}
	}
}

//모바일
@media screen and (max-width: $mobile-max) {
	.header {
		position: fixed;
		.list {
			@include flex(row, center, center);
			width: 100%;
			margin-right: 280px;
			a {
				color: #ffffff;
				text-decoration: none;
				&:hover {
					font-weight: bold;
					border-bottom: 1px solid #ffffff;
				}
			}
		}
	}
}
