@import "styles/base.scss";

//pc, 기본
.footer {
    @include flex(column, center, center);
    background: #e1a7b8;
    background-size: cover;
    width: 100vw;
    height: 400px;
    .footer-content {
        @include flex(row, space-between, center);
        width: 50%;
        padding-bottom: 20px;
    }
}

//태블릿
@media screen and (min-width: $mobile-max+1px) and (max-width: $tablet-max) {
    .footer {
        width: 100vw;
        height: calc(100vh - 100px);
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .footer {
        width: 100vw;
        height: calc(100vh - 100px);
    }
}
