@import "styles/base.scss";

//pc, 기본
.footer {
    position: relative;
    .footer-img1 {
        position: absolute;
        bottom: 0px;
        left: 0;
    }
    .footer-img2 {
        position: absolute;
        bottom: 0px;
        left: 975px;
    }
    background: #e1a7b8;
    background-size: cover;
    width: 100vw;
    height: 400px;
    .footer-content {
        position: absolute;
        bottom: 250px;
        left: 750px;
        width: 50%;
        padding-bottom: 20px;
        .footer-text {
            .text {
                margin: 0 10px;
            }
        }
    }
}

//태블릿
@media screen and (min-width: $mobile-max+1px) and (max-width: $tablet-max) {
    .footer {
        width: 100vw;
        height: calc(100vh - 100px);
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .footer {
        width: 100vw;
        height: calc(100vh - 100px);
    }
}
