@import "styles/base.scss";

//pc, 기본
.todo {
    @include flex(column, center, center);
    width: 100vw;
    background: rgba(144, 154, 179, 0.27);
    background-size: cover;
    .todo-title {
        padding-right: 550px;
        padding-top: 150px;
        padding-bottom: 50px;
        color: #273c63;
        font-size: 25px;
        font-weight: bold;
    }
    .list {
        @include flex(column, center, flex-start);
        margin-bottom: 180px;
        .todo {
            position: relative;
            width: 800px;
            height: 150px;
            background: rgba(144, 154, 179, 0);
            border-bottom: 1px solid #273c63;
            padding: none;
            text-align: left;
            .content {
                margin-right: 300px;
                color: #273c63;
                font-size: 23px;
                font-weight: bold;
                span {
                    font-size: 15px;
                    font-weight: normal;
                }
            }
        }
    }
}

//태블릿
@media screen and (min-width: $mobile-max+1px) and (max-width: $tablet-max) {
    .home {
        width: 100vw;
        height: calc(100vh + 350px);
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .home {
        width: 100vw;
        height: calc(100vh + 350px);
    }
}
